openapi: 3.1.0
info:
  title: EasyPost Shipping Addresses Reports API
  description: 'REST API for the EasyPost multi-carrier shipping platform. Covers

    shipments, rates, addresses, parcels, trackers, refunds and reports.

    Authentication is HTTP Basic with the API key as username and an empty

    password. This specification is a best-effort, documentation-derived

    description and may omit fields.

    '
  version: 2.0.0
  contact:
    name: EasyPost
    url: https://docs.easypost.com/
servers:
- url: https://api.easypost.com/v2
  description: Production
security:
- EasyPostBasic: []
tags:
- name: Reports
paths:
  /reports/{type}:
    post:
      summary: Create a report
      operationId: createReport
      parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - shipment
          - tracker
          - refund
          - payment_log
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
      responses:
        '201':
          description: Report queued
      tags:
      - Reports
components:
  securitySchemes:
    EasyPostBasic:
      type: http
      scheme: basic
      description: HTTP Basic where username is your EasyPost API key and password is empty.
